<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white">
        <div class="p-5 flex justify-between items-center">
            <h3 class="text-3xl text-cyan-500 mb-5">Hello, <%= user.name %></h3>
            <button class="mb-5 px-3 py-2 bg-cyan-500 rounded-md border-2 border-zinc-800"><a href="/logout">Logout</a></button>
        </div>
        <div class="mb-10 w-full flex justify-center">
            <form class="w-2/5" action="/addnote/<%= user._id %>" method="post">
                <!-- <h3 class="text-2xl mb-5 ">Add a Note++</h3></span> -->
                <textarea class="px-3 py-2 word-wrap w-full rounded-md outline-none bg-transparent border-2 border-zinc-800 overflow-hidden resize-none" rows="1" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';" type="text" placeholder="Title" name="title"></textarea>
                <textarea class="px-3 py-2 word-wrap w-full rounded-md outline-none bg-transparent border-2 border-zinc-800 overflow-hidden resize-none min-h-[100px]" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';" type="text" placeholder="Take a note..." name="note"></textarea>
                <div class="flex justify-end">
                    <input class="px-3 py-2 bg-cyan-500 rounded-md border-2 border-zinc-800 cursor-pointer" type="submit" value="Add++">
                </div>
                    

            </form>
        </div>

        <div class="px-5 flex flex-wrap justify-center">
            <% user.posts.forEach((post) => { %>    
                <div class="p-4 m-2 w-1/5 h-auto flex flex-col justify-between min-h-48 max-h-48 overflow-hidden rounded-md outline-none bg-transparent border-2 border-zinc-800">
                    <div class="flex-1 overflow-hidden">
                        <h3 class="text-2xl font-bold"><%= post.postTitle %></h3>
                        <p class="text-justify whitespace-pre-wrap break-words"><%= post.postData %></p>
                    </div>
                    <div class="flex justify-between mt-2">
                        <a href="/edit/<%= post._id %>" class="text-cyan-500 text-sm">View & Edit</a>
                        <a href="/delete/<%= post._id %>" class="text-green-500 text-sm">Delete</a>
                    </div>
                </div>
            <% }) %>
        </div>

    </div>
</body>
</html>